[Desktop Entry]
Version=1.0
Name=Projections
Comment=Program to project things
Exec=/usr/bin/projections
Path=/usr/bin/lib/projections/
Icon=/usr/bin/lib/projections/icon.png
Terminal=false
Type=Application
Categories=Utility;Application;
